#contact{
  color: white;

  hr{
    width: 250px;
    margin: 50px auto;
    color: white;
    border-top: 1px solid white;
  }

  h1{
    text-align: center;
    margin: 0;
    font-weight: 300;
  }

  .flex{
    div{
      padding: 20px;
      ul{
        margin: 0 0 35px 0;
        font-size: 18px;
        li{
          &:first-child{
            font-weight: bold;
            margin: 0 0 10px 0;
          }
          &:not(:first-child){
            padding-left: 15px;
          }
          list-style: none;
          font-family: Montserrat;
          font-weight: 300;
        }
      }
    }
  }
}