#contact{
  color: white;

  hr{
    width: 250px;
    margin: 50px auto;
    color: white;
    border-top: 1px solid white;
  }

  h1{
    text-align: center;
    margin: 0;
    font-weight: 300;
  }

  .flex{
    div{
      padding: 20px;
      ul{
        margin: 0;
        font-size: 18px;
        padding: 0;
        li{
          &:first-child{
            font-weight: bold;
            margin: 0 0 10px 0;
          }
          &:not(:first-child){
            padding-left: 15px;
          }
          list-style: none;
          font-family: Montserrat;
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width:1050px ) {
  #contact {
    .flex {
      flex-direction: column-reverse;
      div {
        ul {
          margin: 0 auto 15px auto;
        }
      }
      iframe{
        width: 100%
      }
    }
  }
}

@media (max-width: 580px) {
  #contact {
    .flex{
      div{
        padding: 0 0 15px 0;
      }
    }
    h1 {
      font-size: 28px;
    }
    li{
      font-size: 16px;
    }
    iframe{

    }
  }
}