body{
  background-color: #1f1f1f !important;
  color: white;
  padding-top: 75px;
  font-family: Montserrat;
  font-weight: 200;
  overflow-x: hidden;
}

#intro {
  height: calc(100vh - 95px);
  .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .logo{
    width: 750px;
    height: auto;
    margin:-185px auto 0 auto;
  }
  .mention{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-family: Montserrat;
    font-weight: 300;
    text-decoration: underline;
    &:hover{
      color: white;
    }
  }
}


@media (max-width: 1015px) {
  #intro{
    .logo{
      width: 550px;
    }
  }
  .text-anim{
    font-size: 26px !important;
  }
  .link-anim{

  }
}

@media (max-width: 767px) {
  #intro{
    .logo{
      width: 450px;
    }
  }
  .text-anim{
    font-size: 24px !important;
  }
  .link-anim{

  }
}

@media (max-width: 670px) {
  .text-anim{
    transform: translateX(-50%);
  }
  .link-anim{
    transform: translateX(-50%);
  }
}

@media (max-width: 495px) {
  #intro{
    .wrapper{
      padding: 0;
    }
    .logo{
      width: 330px;
      margin: -185px auto 0 auto;
    }
  }
}

/*
==========================================================================
	 Mixins
==========================================================================
 */
@mixin anim-filter($filter, $value) {
  -webkit-filter: #{$filter}unquote("(#{$value})");
  -moz-filter: #{$filter}unquote("(#{$value})");
  -ms-filter: #{$filter}unquote("(#{$value})");
  filter: #{$filter}unquote("(#{$value})");
}
@mixin anim-transition($property, $value) {
  -webkit-transition: $property, $value;
  -moz-transition: $property, $value;
  -ms-transition: $property, $value;
  transition: $property, $value;
}
@mixin anim-transform($property, $value) {
  -webkit-transform:  #{$property}unquote("(#{$value})");
  -moz-transform: #{$property}unquote("(#{$value})");
  -ms-transform: #{$property}unquote("(#{$value})");
  transform: #{$property}unquote("(#{$value})");
}

.text-anim {
  color: #ffffff;
  font-size: 32px;
  font-family: Montserrat sans-serif;
  font-weight: 300;
  letter-spacing: -3.5px;
}



/*
==========================================================================
	 Main Animation
==========================================================================
*/

.text-anim {
  width: fit-content;
  position: relative;
  top: 115px;
  left: 50%;

  span {
    font-family: Montserrat;
    font-weight: 300;
    opacity: 0;
    @include anim-transition (all, 550ms);
    @include anim-filter(blur, 25px);
    @include anim-transform(translateZ, 0);
  }

  $letters: 27; //Define number of letters in animation - including spaces
  $timing: 35ms; //Delay between letters

  //Sets timing differntly for each letter
  @while $letters > 0 {
    span:nth-child(#{$letters})
    {
      -webkit-transition-delay: $timing * $letters;
      -moz-transition-delay: $timing * $letters;
      -ms-transition-delay: $timing * $letters;
      transition-delay: $timing * $letters;
    }
    $letters: $letters - 1;
  }
}

//Class added that animates
.text-anim.animate span {
  opacity: 1;
  @include anim-filter(blur, 0px);
}

.link-intro{
  color: white;
  text-decoration: none;
  letter-spacing: -1.0px;
  &:hover{
    color: #e8e8e8;
    text-decoration: none;
  }
}

.link-anim {
  width: fit-content;
  position: relative;
  top: 125px;
  left: 50%;

  span {
    font-family: Montserrat;
    font-weight: 300;
    opacity: 0;
    @include anim-transition (all, 550ms);
    @include anim-filter(blur, 25px);
    @include anim-transform(translateZ, 0);
  }

  $letters: 20; //Define number of letters in animation - including spaces
  $timing: 35ms; //Delay between letters

  //Sets timing differntly for each letter
  @while $letters > 0 {
    span:nth-child(#{$letters})
    {
      -webkit-transition-delay: $timing * $letters;
      -moz-transition-delay: $timing * $letters;
      -ms-transition-delay: $timing * $letters;
      transition-delay: $timing * $letters;
    }
    $letters: $letters - 1;
  }
}

//Class added that animates
.link-anim.animate span {
  opacity: 1;
  @include anim-filter(blur, 0px);
}
