#who-are{
  color: white;
  height: calc(100vh - 95px);
  hr{
    width: 250px;
    margin: 50px auto;
    color: white;
    border-top: 1px solid white;
  }
  .wrapper{
    min-height: 100%;
  }
  h1{
    text-align: center;
    margin: 0;
    font-weight: 300;
  }

  .flex{
    div{
      height: 100%;
    }
    div:not(.illustration){
      width: calc(100% - 400px);
      p{
        width: 88%;
        text-align: justify;
        margin: 0 35px 15px 35px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 300;
      }
    }
    .illustration{
      background: url("../img/background-home.png") no-repeat;
      background-size: 205%;
      background-position: 60%;
      width: 350px;
      height: auto;
    }
  }
}

@media (max-width: 1080px) {
  #who-are{
    .flex{
      flex-direction: column-reverse;
      div:not(.illustration){
        width: 100%;
        p{
          width: calc( 100% - 70px );
          margin: 15px 35px 0 35px;
          font-size: 16px;
        }
      }
      .illustration{
        background-size: 100%;
        width: calc( 100% - 70px );
        margin: 0 35px;
        height: 250px ;
      }
    }
  }
}

@media (max-width: 580px) {
  #who-are{
    h1{
      font-size: 28px;
    }
    .flex{
      flex-direction: column-reverse;
      div:not(.illustration){
        p{
          width: 100%;
          margin: 15px 0 0 0 ;
        }
      }
      .illustration{
        margin: 0;
        width: 100%;
      }
    }
  }
}