@import "_header";
@import "_general";
@import "_home";
@import "_logs";
@import "_contact";
@import "_calendar";
@import "_qui-sommes";
@import "_concept";

//display: flex;
//justify-content: center;
//flex-direction: column;

//Color
//$principal = #DBC5AD;

.flex-around{display: flex;justify-content: space-around;}
.flex-between{display: flex;justify-content: space-between;}
.flex-start{display: flex;justify-content: start;}
.flex-wrap{display:flex;flex-wrap: wrap;}

.margin_top_10{margin-top:10px;}
.margin_left_10{margin-left: 10px;}
.margin_bottom_25px{margin-bottom: 25px;}
.underline{text-decoration: underline; }

.max_width_270{max-width: 270px}

//span color
.color_red{color: red}
.color_blue{color:cornflowerblue}
.color_yellow{color: yellow}
.color_green{color:green}
.color_cyan{color:darkcyan}
.color_purple{color:rebeccapurple}
.color_brown{color:sandybrown}
.color_pink{color:deeppink}
.text-left{text-align: left}
.text-left{text-align: right}


.wrapper{
  max-width: 1200px;
  padding: 25px;
  margin: 0 auto;
}


