{% extends 'base_front.html.twig' %}

{% block title %}Contact - CineSalon{% endblock %}

{% block body %}
<section id="concept">
    <div class="wrapper">
        <h1>Notre concept</h1>
        <hr>
        <div class="container-carousel">
            <div id="carousel">
                <div class="item" data-item="0"></div>
                <div class="item" data-item="1"></div>
                <div class="item" data-item="2"></div>
                <div class="item" data-item="3"></div>
                <div class="item" data-item="4"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}

{% endblock %}
