{% extends 'base_front.html.twig' %}

{% block title %}Contact - CineSalon{% endblock %}
{% block meta %}CineSalon | Découvrez comment nous joindre{% endblock %}

{% block body %}
    <section id="contact">
        <div class="wrapper">
            <h1>Contactez-nous</h1>
            <hr>
            <div class="flex flex-center">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638.5936104747466!2d1.6849080158466678!3d48.59847962692557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e418e496cd2791%3A0xfe6a71f9e3333232!2s12%20Rue%20des%20Longs%20Reages%2C%2028230%20%C3%89pernon!5e0!3m2!1sfr!2sfr!4v1572187905393!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <div class="flex flex-between flex-direction-column">
                    <ul>
                        <li> Votre contact Commercial :</li>
                        <li>Anthony Garrier</li>
                        <li>Tel mobile : +33 (0)761 211 807</li>
                        <li>Email : cinesalon.contact@gmail.com</li>
                    </ul>

                    <ul>
                        <li>Votre contact Technique :</li>
                        <li> José Martins</li>
                        <li>Tel mobile : +33 (0)658 177 241</li>
                        <li>Email : cinesalon.contact@gmail.com</li>
                    </ul>

                    <ul>
                        <li> Adresse Ateliers et Show-Room </li>
                        <li>CinéSalon 12 rue des Longs Réages</li>
                        <li>28230 Epernon</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}

{% endblock %}
