<header class="main-header">
    <div class="logo">
    </div>

    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="name-menu">Menu</span>
        <span class="menu-icon__line"></span>
    </label>

    <ul class="nav-items">
        <li class="nav-item">
            <a href="{{ path('home') }}">Home</a>
        </li>
        <li class="nav-item">
            <a href="#">Concept</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('who_are') }}">Qui sommes-nous</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('contact') }}">Contact</a>
        </li>
    </ul>
</header>