{% extends 'base_front.html.twig' %}

{% block title %}Accueil - CineSalon{% endblock %}
{% block meta %}CineSalon | Bienvenue sur notre site{% endblock %}

{% block body %}
    <section id="intro">
        <div class="wrapper">
            <img src="{{ asset('img/logo-color.png') }}" class="logo" alt="">
            <div class="text-anim">
                <span>U</span>
                <span>n</span>
                <span>&nbsp;</span>
                <span>i</span>
                <span>n</span>
                <span>s</span>
                <span>t</span>
                <span>a</span>
                <span>n</span>
                <span>t</span>
                <span>&nbsp;</span>
                <span>c</span>
                <span>i</span>
                <span>n</span>
                <span>é </span>
                <span>m</span>
                <span>a</span>
                <span>&nbsp;</span>
                <span>c</span>
                <span>h</span>
                <span>e</span>
                <span>z</span>
                <span>&nbsp;</span>
                <span>v</span>
                <span>o</span>
                <span>u</span>
                <span>s</span>
            </div>
            <a href="{{ path('concept') }}" class="link-intro">
                <div class="link-anim">
                    <span>D</span>
                    <span>é</span>
                    <span>c</span>
                    <span>o</span>
                    <span>u</span>
                    <span>v</span>
                    <span>r</span>
                    <span>e</span>
                    <span>z</span>
                    <span>&nbsp;</span>
                    <span>l</span>
                    <span>e</span>
                    <span>&nbsp;</span>
                    <span>c</span>
                    <span>o </span>
                    <span>n</span>
                    <span>c</span>
                    <span>e</span>
                    <span>p</span>
                    <span>t</span>
                </div>
            </a>
        </div>
        <a href="{{ path('mention') }}" class="mention">Mention légale</a>
    </section>

    {# A partir de 16m² profitez d'un espace de confort et de détente, plus qu'un cinéma une valeur ajoutée #}

{% endblock %}

{% block script %}
    <script>
        setInterval(firstAnimation,1500);

        function firstAnimation() {
            $('.text-anim').addClass('animate');
            setInterval(secondAnimation,1000);
        }

        function secondAnimation() {
            $('.link-anim').addClass('animate');
        }
    </script>
{% endblock %}
