{% extends 'base_front.html.twig' %}

{% block title %}Mentions légales - CineSalon{% endblock %}
{% block meta %}CineSalon | Découvrez nos mentions légales{% endblock %}

{% block body %}
    <section id="mention">
        <div class="wrapper">
            <h1>Mentions légales</h1>
            <hr>
            <p>CinéSalon est un Groupement d’Intérêt Économique constitué de l’association de Lumen’s France (…mentions légales) et JMServices EURL sise au 80 Av. du Général de Gaulle 91170 Viry Chatillon ID RM 810014167RM91 au capital social de 3000€ dont l’activité est l’installation électrique, intégration d’équipements audiovisuels et domotique professionnelle. CinéSalon est situé au 12 rue des Longs Réages 28230 Epernon </p>
        </div>
    </section>
{% endblock %}

{% block script %}

{% endblock %}
