{% extends 'base_front.html.twig' %}

{% block title %}Qui sommes-nous - CineSalon{% endblock %}

{% block body %}
    <section id="who-are">
        <div class="wrapper">
            <h1>Qui sommes-nous</h1>
            <hr>
            <div class="flex flex-center">
                <div>
                    <p>
                        Le 7ème Art est, depuis Georges Meliès, une fenêtre vers le rêve et la fantaisie. Quand en 1902 le Voyage dans la Lune a émerveillé nos ancêtres, nul ne soupçonnait que l'on viendrait en 2019 à proposer l'excellence de la technologie Audiovisuel pour que le Cinéma entre dans nos logis.
                    </p>
                    <p>
                        C'est dans ce cadre que CinéSalon apporte sa contribution. Fort de 25 années d'expérience dans le domaine de la diffusion audiovisuelle nous avons la volonté et l'intention d'apporter une solution économiquement viable à tous les passionnés du grand écran. Notre force réside dans la fourniture d'une solution complète, étudiée et réalisée sur mesure, proposant le meilleur de la technologie dans un cadre accueillant, qui s'articule autour de solutions de confort simples et en harmonie avec votre habitat.
                    </p>
                    <p>
                        Un show room attend, sur rdv, votre visite. Vous y vivrez un instant Cinéma UHD 4K Dolby Atmos vibrant et accueillant.
                    </p>
                </div>
                <div class="illustration">

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}

{% endblock %}
